

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="designs">
      <ion-icon name="shirt-outline"></ion-icon>
      Designs
    </ion-tab-button>
    <ion-tab-button tab="soldDesigns">
      <ion-icon name="shirt"></ion-icon>
      Sold Designs
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      Cart
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      Account
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



